# Node dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Expo
.expo/
dist/
web-build/
cache/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# React Native / Metro
.metro-health-check

# TypeScript
*.tsbuildinfo

# OS-specific files
Thumbs.db
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo